portfolio/__pycache__/__init__.cpython-37.pyc
portfolio/__pycache__/admin.cpython-37.pyc
portfolio/__pycache__/models.cpython-37.pyc
portfolio/migrations/__pycache__/0001_initial.cpython-37.pyc
portfolio/migrations/__pycache__/__init__.cpython-37.pyc
webpersonal/__pycache__/settings.cpython-37.pyc
webpersonal/__pycache__/settings.cpython-37.pyc

core/__pycache__/views.cpython-37.pyc
portfolio/__pycache__/apps.cpython-37.pyc
portfolio/__pycache__/views.cpython-37.pyc
portfolio/migrations/__pycache__/0002_auto_20181107_1348.cpython-37.pyc
webpersonal/__pycache__/settings.cpython-37.pyc
webpersonal/__pycache__/urls.cpython-37.pyc
